<style>
  .btn-search{
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover{
    background-color: #fe424d;
    color: #fff;
  }
  .btn-search i{
    display: inline;
    margin-right: 0.5rem;
  }
  .ph{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }
  @media (max-width: 576px) {
  .d-flex[role="search"] {
    flex-direction: column !important;
      align-items: stretch !important;
    gap: 0.5rem;
  }
  .btn-search, .ph {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .navbar-collapse {
    /* position: relative; */
    background-color: white;
    color: black;
  }
}


</style>
<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
         <form class="d-flex search-form" role="search" action="/listings" method="GET">
        <input class="form-control ph me-2" type="search" name="q" placeholder="Search destinations" />
        <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
      </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add new Listing</a>
        <% if(!currUser) {%>
        <a class="nav-link"  href="/signup"><b>Sign up</b></a>
        <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>
        <% if(currUser) {%>
        <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>